{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["sort-imports-es6-autofix"],
    "parserOptions": {
        "ecmaVersion": 9
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "parser": "babel-eslint",
    "rules": {
        "arrow-parens": [0, "as-needed"],
        "arrow-body-style": [1, "as-needed"],
        "max-len": [0, { "code": 100 }],
        "quotes": [2, "single", { "avoidEscape": true }],

        "no-shadow": 2,
        "consistent-return": 1,
        "global-require": 1,
        "comma-dangle": 1,
        "eol-last": 2,
        "no-console": 1,
        "no-multiple-empty-lines": 1,
        "no-trailing-spaces": 1,
        "object-curly-spacing": 1,
        "padded-blocks": 1,
        "semi": 1,

        "import/prefer-default-export": 0,

        "react/jsx-filename-extension": 0,
        "react/destructuring-assignment": 0,

        "sort-imports-es6-autofix/sort-imports-es6": [
            1,
            {
                "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
            }
        ]
    }
}
